<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<<<<<<< HEAD
<h2>=.= ar</h2>
=======
<center>
>>>>>>> C4
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
</center>
